/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html{
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    box-sizing:border-box;
    font-size:100%
}
html, article,aside,footer,header,nav,section{
    display:block
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}
/* navbar */
nav li {
    text-decoration: none;
    /* color: #576574; */
    color: #8395a7;
    padding: 20px 20px;
    line-height: 50px;
    margin-top: .8em;
    font-size: 16px;
    padding: 10px 10px 0 10px;
    font-family: "Quicksand";
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav li a {
    color: #576574;
    font-weight: bold;
}
nav a:hover {
    color: rgb(132, 168, 235);
}
menu{
    display:block
}

/* body */
.intro_name a{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #2e86de;

}
.intro_title {
    color: #576574;
    margin: 0;
    line-height: 0.5;
    letter-spacing: 1px;
    padding-left: 1px;
}
.about_hello,
#portfolio {
    text-align: center;
    font-weight: bold;
    color: #2e86de;
    font-size: 22px;
}
.bio {
    font-size: 22px;
    color: #576574;
}
h1{
    font-size:2em;
    margin:0.67em 0
}
*,*::before,*::after{
    box-sizing:inherit
}
body{
    padding:0;
    background:#fefefe;
    font-weight:normal;
    line-height:1.5;
    color:#222f3e;-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.wrapper--800{max-width:800px};
.wrapper--1000{max-width:1000px};

/* portfolio */

.portfolio {
    height: 80%;
}
.row{
text-align: center
}
.card-img{
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(3, 79, 150, 0.5);

} 
.container {
    padding: 10px 16px;
 }
.card{
    max-width: auto;
    text-align: left;
    transition: 0.3s;
    width: auto;
}
.card-title{
    padding-top: 21px;
    font-size: 24px;
    color: #576574;
    margin: 0;
    letter-spacing: 1px;
}
.card-subtitle{
    padding-top: 0px;
    color: #2e86de;
    opacity: 0.8;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;

}

/* footer */
footer {
    color:rgb(38, 79, 168);
    width: 100%;
    padding: 25px 0 20px 0;
    background:#FFF;
    text-align: center;
}

footer p {
    text-align: center;
    padding-top: 20px;
}
.footer_bottom{
    text-align: center;
}
.content {
    min-height: 100%;
}

.content-inside {
    padding-bottom: 15px;
    background: #FFF;
}
.grid-container{
    padding-right:.625rem;
    padding-left:.625rem;
    max-width:70%;
    margin:0 auto
}
#bio-pic{
    border-radius: 300px;
    display: block;
    margin: 0 auto;
    max-width: 300px
}

/* Media Queries */

@media print, screen and (min-width: 64em){
    .grid-margin-y.large-grid-frame{
        height:calc(100vh + 1.875rem)
        }
    }
    .menu{
        padding:0;
        margin:0;
        list-style:none;
        position:relative;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap
    }
    [data-whatinput='mouse'] .menu li{outline:0}.menu a,
    .menu .button{
        line-height:1;
        text-decoration:none;
        display:block;
        padding:0.7rem 1rem
}
@media screen and (orientation: portrait){
    .hide-for-landscape,.show-for-portrait{display:block !important}}
    .align-right{-ms-flex-pack:end;justify-content:flex-end
}
@media print, screen and (min-width: 64em){
    .large-flex-dir-column-reverse{-ms-flex-direction:column-reverse;flex-direction:column-reverse}}
    a{font-weight:bold;color:#2e86de;text-decoration:none}
    a:hover{opacity:0.8}
    .wrapper{margin:0 auto}
    .wrapper--600{max-width:600px}
    .wrapper--800{max-width:800px}
    .wrapper--1000{max-width:1000px}
    .intro h1,.intro h2{margin:0
}
@media only screen and (max-width: 480px){
    .intro__title a{color:#576574;margin:0;line-height:0.5;letter-spacing:1px;padding-left:1px};
    .intro__desc{margin:2em 0;color:#8395a7;font-size:1.6em;font-weight:400};
    .intro__desc{text-align:center;font-size:1.2em;margin:1em 0 2em};
    .intro__desc p{margin:1em 0;line-height:1.2};
    .intro__desc p{line-height:1.4};
    .intro__desc strong{border-bottom:solid 3px #00d2d3;padding-bottom:5px};
    .intro__desc strong{padding-bottom:0px};
    .cs h3{margin-top:30px};
    .cs h3:first-of-type{margin-top:15px};
    .cs ul{list-style:none};
    .cs ul li::before{content:"\2022";color:#01a3a4;font-weight:bold;display:inline-block;width:1em;margin-left:-1em};
    .cs li{padding:0.5em 0};
    .cs li:first-child{padding-top:0};
    .cs li:last-child{padding-bottom:0};
    .cs__title{color:#00d2d3;margin:0};
    .cs__subtitle{text-transform:uppercase;color:#8395a7;margin:0;font-size:18px;margin-bottom:25px};
    .cs__image{border-top:solid 4px #01a3a4;box-shadow:2px 2px 6px 0 rgba(126, 162, 199, 0.2)};
    .cs__header{font-size:2em;color:#576574;text-transform:capitalize;text-align:center;margin:1.5em 0 0 0};
    .cs__header{margin:1em 0 0 0};
    .cs__subheader{font-size:16px;text-align:center;text-transform:uppercase;color:#01a3a4};
    .cs__section{margin:30px auto};
    .cs__section:first-of-type{margin-top:15px};
    .cs .overview{margin:1.75em 0 1.25em};
    .cs .overview__label{text-transform:uppercase;font-weight:bold;font-size:12px;color:#8395a7};
    .cs .img--margin{display:block;margin:30px auto 0};
    .cs .caption{text-align:center;color:#576574;font-style:italic;margin-top:1em};
    .callout{box-shadow:2px 2px 6px 0 rgba(0,210,211,0.2);border-left:solid 6px #00d2d3;padding:1.5em 2em;margin:2em 0};
    .callout__header{margin:0;font-size:1em;font-weight:bold;text-transform:uppercase;letter-spacing:0.8px;text-align:center;margin:0 0 1em 0;opacity:0.8};
    .callout__text{margin:0.2em;font-size:1em;line-height:1.6;letter-spacing:1.2};
    .bio-pic{display:block;margin:0 auto;border-radius:200px;max-width:200px};
    .about p{font-size:22px;color:#8395a7};
    .about p.about_hello{text-align:center;font-weight:bold;color:#01a3a4};
    .thanks{margin-top:2em};
    .thanks p{text-transform:uppercase;letter-spacing:1px;margin-bottom:0.5em};
    .thanks__header{text-align:center;text-transform:uppercase;letter-spacing:1px;color:#8395a7;margin-top:0.5em};
    .hide--mobile{display:none};
    .align-right-desktop{-ms-flex-pack:end;justify-content:flex-end};
    .align-right-desktop{-ms-flex-pack:center;justify-content:center};
    .margin--none{margin:0};
    .margin--none--bottom{margin-bottom:0};
    .primary-light{color:#00d2d3};
    .primary{color:#01a3a4};
    .medium-gray{color:#8395a7};
    .dark-gray{color:#576574};
    .success{color:#1dd1a1};
    .failure{color:#ff6b6b};
    .size-12{font-size:12px};
    .size-14{font-size:14px};
    .size-16{font-size:16px};
    .size-18{font-size:18px};
    .size-21{font-size:21px};
    .size-24{font-size:24px};
    .size-36{font-size:36px};
    .size-48{font-size:48px};
    .size-60{font-size:60px};
    .size-72{font-size:72px};
    nav li{font-size:14px;padding:10px 10px 0 10px;font-family:"Quicksand";text-transform:uppercase;letter-spacing:1px};
    nav li a{color:#576574;font-weight:400};
    nav li a:hover{color:#01a3a4};
    .footer{margin-top:3em;padding:1rem;background:#fefefe;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between};
    .footer__header{text-transform:uppercase;color:#8395a7;margin:0 auto;font-size:18px;padding-top:50px;width:300px;border-top:solid 1px #c8d6e5};
    .footer__header{width:800px};
    .footer a i{color:#00d2d3};
    .footer a i:hover{opacity:0.6};
    #footer-about{margin-top:50px
}